<div ng-controller="TaskCtrl">
    <span class="story-title">{{title}} <a class="btn" href="#/edit-story/{{$parent.$parent.client._id}}/{{projectId}}/{{storyId}}"><i class="icon icon-edit"></i></a> <a class="btn" href="#/delete-story/{{$parent.$parent.client._id}}/{{projectId}}/{{storyId}}"><i class="icon icon-trash"></i></a></span>
    <span class="task-progress-status pull-right">{{doneTasks.length}} / {{tasks.length}} tasks completed</span>
    <br/>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2"><task-status status="statuses.todo" tasks="todoTasks" title="titles.todo"></task-status></div>
            <div class="span2"><task-status status="statuses.inProgress" tasks="inProgressTasks" title="titles.inProgress"></task-status></div>
            <div class="span1"><task-status status="statuses.impeded" tasks="impededTasks" title="titles.impeded"></task-status></div>
            <div class="span2"><task-status status="statuses.testing" tasks="testingTasks" title="titles.testing"></task-status></div>
            <div class="span1"><task-status status="statuses.codeReview" tasks="codeReviewTasks" title="titles.codeReview"></task-status></div>
            <div class="span1"><task-status status="statuses.signOff" tasks="signOffTasks" title="titles.signOff"></task-status></div>
            <div class="span2"><task-status status="statuses.deployment" tasks="deploymentTasks" title="titles.deployment"></task-status></div>
            <div class="span1"><task-status status="statuses.done" tasks="doneTasks" title="titles.done"></task-status></div>
        </div>
    </div>
</div>